span {
    color: rgb(97, 101, 103);
}


.counter {
    color: rgb(5, 89, 110);
    left: 50px;
    top: 90px;
    position: fixed;
}

@media screen and (max-width: 768px) {
    .counter {
        font-size: 1.3rem;
        margin-top: 3rem;
        margin-left: 2rem;
    }
}