.App {
  background-color: rgb(196, 178, 216);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.meals-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}